# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.txt
*.bin
data/directed_unweighted_graph1.bin
data/directed_unweighted_graph1.txt
data/undirected_unweighted_graph1.bin
data/undirected_unweighted_graph1.txt
data/undirected_weighted_graph1.txt
data/undirected_weighted_graph1.bin
